*.swp
*.crt
*.merged-ca-bundle
*.sublime-package

.config/sublime-text-3/Packages/User/Package Control.cache/
.config/sublime-text-3/Packages/User/Package Control.last-run
.config/sublime-text-3/Packages/User/Package Control.merged-ca-bundle

iterm2-config/com.googlecode.iterm2.plist

.vim/.netrwhist
