*.swp
*.crt
*.merged-ca-bundle
*.sublime-package

sublimetext3-config/Packages/User/Package Control.cache/
sublimetext3-config/Packages/User/Package Control.last-run
sublimetext3-config/Packages/User/Package Control.merged-ca-bundle
iterm2-config/com.googlecode.iterm2.plist
.vim/.netrwhist
