[Desktop Entry]
Type=Application
Version=1.0
Name=HipChat4
GenericName=Group Chat and IM
Comment=Persistent group chat using XMPP.
Exec=/usr/bin/hipchat4 %U
Icon=hipchat4
Terminal=false
Categories=Network;InstantMessaging;
