[Desktop Entry]
Type=Application
Exec=sh -c "gvim -O \$HOME/Work/2019-CeleraOne/day-notes.md \$HOME/Barn/Notes/blog/README.md"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Open Day-Notes
Name=Open Day-Notes
Comment[en_US]=opens my day-notes
Comment=opens my day-notes
