[Desktop Entry]
Type=Application
Exec=sh -c '/snap/slack/27/usr/lib/slack/slack --no-sandbox --executed-from=/home/andreasl --pid=10497'
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Slack
Name=Slack
Comment[en_US]=The instant messenger slack
Comment=The instant messenger slack
